<div>
    <p>@Food.Name</p>

    <table>
        <tr>
            @{
                int actualCount = Food.ActualQuantity;
            }

            @for (int i = 0; i < Food.MaxQuantity + Food.OptionalQuantity; i++)
            {
                <td>
                    <input class="@((i >= Food.MaxQuantity) ? "optional-check" : "")" type="checkbox" checked="@((actualCount > 0))" disabled="@((actualCount < 0))" @onchange="eventArgs => { ChangeQty(i, eventArgs.Value); }" />
                </td>

                actualCount--;
            }
        </tr>
    </table>
</div>

@code {

    [Parameter]
    public Food Food { get; set; }

    private void ChangeQty(int checkNumber, object checkedValue)
    {
        if ((bool)checkedValue)
            Food.ActualQuantity++;
        else
            Food.ActualQuantity--;
    }
}
