@page "/"

@inject HttpClient Http
@using Foodly.Shared

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (foods == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var food in foods)
    {
        <FoodRow Food="food" />
    }
}

@code {
    private Food[] foods;

    protected override async Task OnInitializedAsync()
    {
        foods = await Http.GetFromJsonAsync<Food[]>("/api/GetAllFoods");
    }
}
