@page "/"

@inject HttpClient Http
@using Foodly.Shared

<div class="container">
    <h1>Foodly</h1>

    @if (foods == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var food in foods)
        {
            <FoodRow Food="food" />
        }
    }

    <button class="btn btn-success" @onclick="SaveFoods">Salva</button>

    <NavLink class="btn btn-primary" href="addfood">Aggiungi</NavLink>
</div>

@code {
    private Food[] foods;

    protected override async Task OnInitializedAsync()
    {
        foods = await Http.GetFromJsonAsync<Food[]>("/api/GetAllFoods");
    }

    private async void SaveFoods()
    {
        foreach (var food in foods)
        {
            await Http.PutAsJsonAsync<Food>($"/api/UpdateFood/{food.Id}", food);
        }
    }
}
